name: "react-showcase"
services:
  db:
    image: postgres:15
    container_name: db_app
    command: -p 1221
    ports:
      - "5446:1221"
    expose:
      - 1221
    env_file:
      - ./react-showcase/.env
  app:
    # restart: always
    build: ./react-showcase
    ports:
      - "127.0.0.1:80:3000"
