/* Стили компонента App теперь будут задаваться через Tailwind классы */

/* Add styles for the App component here */
.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
} 